body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

.container {
  margin-top: 100px;
}

/* السطر اللي فيه اختيار الملف + الزر */
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  margin: 10px auto;
}

input[type="file"] {
  color: white;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}
